html,body{
    margin: 0;
    padding: 0;
}
audio{
    z-index: 5;
    position: absolute;
    bottom: 0;
    opacity: 0.1;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
audio:hover{
    opacity: 1;

}
.div {width:225px; height:150px; background-color:#eee; border:#000 1px solid; padding-top:50px; padding-left:75px;}

@-ms-keyframes dd{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
